.option-card-container{
    display: flex;
    position: relative;
    height: fit-content;
    border-radius: 5.5rem 10px 10px 5.5rem;
    overflow: hidden;
    border: 2px solid #ECECEC;
    margin-bottom: 1rem;
}
.option-card-image{
    aspect-ratio: 1;
    height: 11rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0px 0px 5.5rem 0px;
    box-shadow: 0px 0px 0px 2px #ECECEC
}
.option-card-content{
    padding: 0.75rem 1rem;
    position: relative;
}
.option-title{
    font-weight: 700;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}
.option-description.display-cutted{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* word-break: break-all; */
}

.option-description{
    font-size: 0.75rem;
    overflow: hidden;
    transition: all ease 0.2s;
}
.button-display-more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    margin-bottom: calc(22px + 0.5rem);
}
.button-display-more svg{
    transition: all ease 0.2s;
}
.button-display-more:hover {
    box-shadow: 0px 1px 1px 1px #ECECEC;
    /* background-color: #f1fcff; */
}
.button-display-more:focus-visible {
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px #b6b6b6;
}
.button-display-more:hover svg{
    transform: scale(1.05) translateY(1px);
    transform-origin: center;
}
.option-card-footer{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 1.5rem);
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
}
.option-checkbox{
    font-weight: 700;
    color: var(--color-4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
::ng-deep .p-checkbox,
::ng-deep .p-checkbox .p-checkbox-box {
    width: 20px;
    height: 20px;
}
::ng-deep .p-checkbox-box{
    border: 2px solid var(--color-4)!important;
    border-radius: 4px!important;
}
::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #3B82F6;
    background: var(--color-4)!important;
}

:host:nth-child(2n) .option-card-container{
    border-radius: 10px 5.5rem 5.5rem 10px;
}
:host:nth-child(2n) .option-card-image{
    border-radius: 0px 0px 0px 5.5rem;
}
:host:nth-child(2n) .option-card-content{
    order: -1;
    text-align: end;
}
:host:nth-child(2n) .votations-votes-amount{
    order: -1;
}
:host:nth-child(2n) .option-checkbox{
    order: 2;
}
:host:nth-child(2n) .option-checkbox .label-checkbox{
    order: -1;
}