.option-card-container{
    display: flex;
    position: relative;
    height: fit-content;
    border-radius: 6rem 10px 10px 6rem;
    overflow: hidden;
    border: 2px solid #ECECEC;
    margin-bottom: 1rem;
    background-color: white;
}
.option-card-content{
    padding: 0.75rem 1rem;
    position: relative;
    width: 100%;
}
.option-card-content>*{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
}
.option-description{
    font-size: 0.75rem;
    /* overflow: hidden; */
    font-size: 10px;
    border-radius: 4px!important;
    transition: all ease 0.2s;
    background-color: rgba(217, 217, 217, 0.2);
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif !important;
}


.option-title{
    font-weight: 700;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}
.option-title{
    padding: 0rem 0.2rem;
    margin-bottom: 1rem;
    /* border: none; */
    /* outline: none; */
    background: none;
    box-shadow: 0px 1px 0px 0px #D5EAEB;
    color: #282626;
    /* font-size: 1.25rem; */
    /* font-weight: 700; */
    transition: all ease 0.1s;
}
.option-title:focus{
    outline: none;
    border-radius: 4px;
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0px 2px 0px 0px #D5EAEB;
}


.option-card-image{
    /* float: left; */
    /* width: 130px; */
    aspect-ratio: 1;
    height: 11rem;
    min-width: 11rem;
    /* object-fit: cover;
    object-position: center; */
    /* border-radius: 0px 0px 6rem 0px; */
    /* overflow: hidden; */
    border-top-right-radius: 0;
    /* border: 2px solid #ECECEC; */
    /* box-shadow: 0px 0px 0px 2px #ECECEC */
}
.image-dropzone{
    /* margin-left: 1rem; */
    /* width: 100%; */
    /* min-width: 200px; */
    /* height: 200px; */
    /* background: rgb(198, 198, 198); */
    position: relative;
    display: flex;
    justify-content: center;
}
.image-dropzone>*{
    width: 100%;
    height: 100%;
}
.image-dropzone>molecule-image-input {
    position: absolute;
}
.option-card-image ::ng-deep ngx-dropzone{
    border: 2px dashed var(--color-4)!important;
    border-radius: 6rem 10px 6rem 6rem!important;
}
.option-card-image ::ng-deep .fill-component.image-input-container::after{
    border-radius: 6rem 0px 6rem 6rem!important;
}

.option-card-image  ::ng-deep ngx-dropzone atom-image-container {
    border-radius: 6rem 0px 5.5rem 6rem;
}