<div class="option-card-container">
    <!-- <img class="option-card-image" src="/assets/icons/user.png" alt="Option picture."> -->
    <div class="option-card-image image-dropzone">
        <atom-image-container class="image-field">
            <img
            src="/assets/icons/user.png"
            />
        </atom-image-container>
        <molecule-image-input
            [multiple]="false"
            [inputStyle]="'fill'"
            [message]="'Upload related picture'"
        >
        </molecule-image-input>
    </div>
    <div class="option-card-content">
        <input class="option-title" type="text" placeholder="Enter the option title...">
        <textarea class="option-description" name="Description" id="" rows="6" placeholder="Enter the option description..." pInputTextarea [autoResize]="true"></textarea>
    </div>
</div>