header{
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
    padding-bottom: 1rem;
    background-color: var(--color-gray-1);
    box-shadow: 0px 10px 10px 5px  var(--color-gray-1);
    border-radius: 10px;
    z-index: 100;
    padding: 0px 1rem;
}
.false-header {
    width: 100%;
    height: calc(5rem + 1rem + 20px);
}
.header-section-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.header-section{
    display: flex;
    /* justify-content: center; */
    background-color: var(--color-1);
    border-radius: 0px 0px 40px 40px;
    height: 5rem;
    width: 350px;

    box-shadow: 0px 0px 10px 2px rgba(145, 145, 145, 0.38),
                inset 0px 60px 40px -40px rgba(255, 255, 255, 0.15),
                inset 0px -10px 20px 20px rgba(124, 63, 255, 0.15);

    position: relative;
}
.navigation{
    height: 100%;
    width: calc(50% + 40px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.5rem;

    position: absolute;
    right: -40px;
}
.navigation *{
    font-size: 12px;
    z-index: 10;
}

.main-button{
    border-radius: 40px 0px 40px 0px;
    height: 100%;
    width: 100%;
    /* width: fit-content; */
    background-color: var(--color-3);
    background-image: radial-gradient(100% 100% at 100% 0, #8d059c 0, var(--color-3) 100%);
    color: white;
    transition: all ease 0.3s;
    border: 0;
    outline: 0;
    margin: 0;
    white-space: nowrap;
    padding: 0 1.1rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    
    box-shadow: #8d059c 0 -3px 0 inset;
}

.main-button.first-button{
    background-image: radial-gradient(100% 100% at 100% 0, #841cca 0, var(--color-2) 100%);
    background-color: var(--color-2);
    left: 60px;
    /* transform: translateX(30%); */
}

.main-button:focus:not(.active) {
    box-shadow: #8d059c 0 0 0 1.5px inset,
                rgba(45, 35, 66, .4) 0 2px 4px,
                rgba(45, 35, 66, .3) 0 7px 13px -3px,
                #8d059c 0 -3px 0 inset;
}
.main-button.active{
    background-image: radial-gradient(30% 100% at -10% 50%, white 0, var(--color-3) 100%);
    cursor: auto;
}
.main-button.first-button.active{
    background-image: radial-gradient(30% 100% at -10% 50%, white 0, var(--color-2) 100%);
}
.main-button:hover:not(.active){
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #8d059c 0 -3px 0 inset;
    transform: scale(1.02);
}
.first-button:hover:not(.active){
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #841cca 0 -3px 0 inset;
}
.main-button:active:not(.active) {
    box-shadow: #4c0354 0 3px 7px inset;
    transform: translateY(1px);
}
.app-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    gap: 10px;
    padding: 0.5rem;

    width: 50%;
    position: relative;
}
.app-logo *{
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
}
.app-logo img{
    width: 35px;
    height: 35px;
    object-position: center;
    object-fit: contain;
}
.account{
    position: relative;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 100%;
    padding: 6px;

    border-radius: 14px;
    border: 0;
    background-color: var(--color-4);
    box-shadow: 0px 0px 10px 2px rgba(145, 145, 145, 0.38), inset 0px 60px 40px -40px rgba(255, 255, 255, 0.1), inset 0px -10px 20px 20px rgba(124, 63, 255, 0.1);

    transition: 0.3s all ease;
}
.account:hover{
    background-color: #1e448a;
    transform: scale(1.02);
}
.account:active{
    background-color: #315088;
    transform: scale(0.98);
}
.account-name{
    display: none;

    color: white;
    margin-left: 3px;
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    font-size: 10px;
}
.account img{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.rounded-image-container{
    height: 35px;
    width: 35px;
    border-radius: 25px;
    /* overflow: hidden; */
    background-color: white;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
}

@media (min-width: 650px){
    .header-section{
        width: 400px;
    }
    .account-name{
        display: -webkit-box;
    }
    
    .account img{
        height: 25px;
        width: 25px;
    }

    .rounded-image-container{
        height: 25px;
        width: 25px;
    }
}
@media (min-width: 700px){
    .header-section{
        width: 400px;
    }
    .account{
        max-width: 150px;
    }
}
@media (min-width: 780px){
    .header-section-container{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (min-width: 990px){
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-section{
        width: 450px;
    }
    .account{
        position: absolute;
        right: 1rem;
        top: 1rem;
        height: unset;
        max-width: 200px;
    }
    .navigation{
        left: -40px
    }
    .main-button{
        border-radius: 0px 40px 0px 40px;
    }
    .main-button.first-button{
        left: -80px;
        /* transform: translateX(-40%); */
    }
    .app-logo{
        left: 50%;
    }
    
    .app-logo *{
        font-size: 1.5rem;
    }
    .app-logo img{
        width: 45px;
        height: 45px;
    }
}
