<header>
  <div class="header-section-container">
    <div class="header-section">
      <div class="navigation">
        <button
          class="main-button first-button"
          [routerLink]="['/my-votations']"
          [disabled]="rla.isActive"
          (click)="navigate(1)"
          routerLinkActive="active"
          #rla="routerLinkActive"
        >
          Administration of my votations
        </button>
        <button
          class="main-button second-button"
          [routerLink]="['/home']"
          [disabled]="rla2.isActive"
          (click)="navigate(2)"
          routerLinkActive="active"
          #rla2="routerLinkActive"
        >
          My participation on votations
        </button>
      </div>
      <div class="app-logo">
        <h1 class="title-1">It's My Vote</h1>
        <div class="image-container">
          <img
            class="logo"
            src="./assets/icons/vote-1.png"
            alt="Profile picture of UACH"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-section">
    <!-- <ng-content [select]="mainButtons"></ng-content> -->
    <button class="btn added-button" >
      <img src="./assets/icons/plus.png" alt="Plus button" routerLink="./votations/create"/>
    </button>
    <button class="account"
    [routerLink]="['/account/login']"
    >
      <label class="account-name">Universidad Autónoma de Chihuahua</label>
      <div class="rounded-image-container">
        <img
          src="./assets/temporals/uach-logo.png"
          alt="Profile picture of UACH"
        />
      </div>
    </button>
  </div>

</header>
<div class="false-header"></div>
