<header>
    <div class="header-section-container">
        <div class="header-section">
            <div class="navigation">
                <button class="button-29 main-button first-button {{isFirstActive?'active':''}}"
                [disabled]="isFirstActive"  (click)="navigate()">
                    Administration of my votations
                </button>
                <button class="button-29 main-button second-button {{!isFirstActive?'active':''}}"
                [disabled]="!isFirstActive" (click)="navigate()">
                    My participation on votations
                </button>
            </div>
            <div class="app-logo">
                <h1 class="title-1">
                    It's My Vote
                </h1>
                <div class="image-container">
                    <img class="logo" src="./assets/icons/vote-1.png" alt="Profile picture of UACH">
                </div>
    
            </div>
        </div>
    </div>
    <button class="account">
        <label class="account-name">Universidad Autónoma de Chihuahua</label>
        <div class="rounded-image-container">
            <img src="./assets/temporals/uach-logo.png" alt="Profile picture of UACH">
        </div>
    </button>
</header>
<div class="false-header"></div>