<form
  name="form"
  #f="ngForm"
  (ngSubmit)="f.form.valid && saveVotation()"
  novalidate
>
  <h6>First, add the information of the votation:</h6>
  <section class="bg-container">
    <div class="row g-3">
      <div class="col-9">
        <div class="main-information-text">
          <input
            type="text"
            name="Description"
            id="name"
            class="votation-title"
            placeholder="Enter the votation title..."
            [(ngModel)]="votations.name"
          />
          <textarea
            class="votation-description"
            name="Description"
            id=""
            rows="7"
            placeholder="Enter the votation description..."
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="votations.description"
          ></textarea>
        </div>
      </div>
      <div class="col-3">
        <div class="image-dropzone">
          <atom-image-container class="image-field">
            <img src="/assets/icons/picture.png" />
          </atom-image-container>
          <molecule-image-input
            [multiple]="false"
            [message]="'Upload related picture'"
            [(imageFiles)]="fileToUpload"
            (imageFilesChange)="handleFileInput($event)"
          >
          </molecule-image-input>
        </div>
      </div>
    </div>
  </section>
  <h6 class="mt-4">Now, add the options for the votation:</h6>
  <section class="">
    <div class="row row-cols-2">
      <app-create-option-card
        [isRemovable]="false"
        [optionObject]="firstVotationOption"
      ></app-create-option-card>
      <ng-template
        ngFor
        let-iOption
        [ngForOf]="votationOptionsList"
        [ngForTrackby]="iterable.trackByIdentity"
        let-it="index"
      >
        <div class="col">
          <app-create-option-card
            [optionObject]="iOption"
            (onRemoveEvent)="removeVotationOptionEvent($event,it)"
          ></app-create-option-card>
        </div>
      </ng-template>
      <app-button-append-option-card (addEvent)="addVotationOptionEvent()">
      </app-button-append-option-card>
    </div>
  </section>

  <h6 class="mt-4">It's almost there, add the settings for the votation:</h6>
  <section class="">
    <div class="row row-cols-2 row-cols-md-4 g-3">
      <ng-template
        ngFor
        let-settings
        [ngForOf]="resultTypes"
        [ngForTrackby]="iterable.trackByIdentity"
      >
        <div class="col">
          <app-votation-settings-card
            [settingsValue]="settings"
            [(selectedSettings)]="selectedSettings"
            (selectedSettingsChange)="selectedSettingsChangeEvent($event)"
            [resultType]="settings"
          ></app-votation-settings-card>
        </div>
      </ng-template>
    </div>
  </section>

  <div class="mb-4 p-4"></div>
  <div class="d-flex justify-content-end gap-2 mt-3">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-link" [routerLink]="['../']">
      Cancelar
    </button>
  </div>
</form>
