.votation-card-header{
    position: relative;
}
.card-img-top {
    min-height: 100px;
    max-height: 200px;
}
.card-body {
    padding: 0.75rem;
    transition: all ease 0.1s;
    transform-origin: center;
}
.card:hover{
    transform: scale(1.01);
    /* border: 1px solid rgb(143, 183, 215); */
    /* background-image: radial-gradient(50% 50% at 100% 100%, #fbffed 0, #f3fcfe 100%); */
    box-shadow: 0px 0px 0px 2px #96caf4;
    background-color: #f3fcfe;
}
.card:hover .votation-autor {
    box-shadow: 0px 0px 0px 2px #96caf4;
    background-color: rgb(243, 252, 254, 0.90);
}

.card:hover .card-body {
    box-shadow: inset 0px 2px 0px 0px #96caf4;
}
.votation-autor {
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0px 25px 25px 0px;
    position: absolute;
    top: 1rem;
    padding: 0px 8px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    max-width: 40%;
}
.votation-autor--image{
    width: 2.2rem;
    min-width: 2.2rem;
    padding-right: 0.1rem;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.votation-autor img{
    height: 1.75rem;
    object-fit: cover;
    width: 1.75rem;
    border-radius: 50px;
    background: none;
}
.votation-autor label{
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    /* height: 100%; */
}
.votation-options{
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    z-index: 5;
}
.votation-options img{
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    margin: 0px -5px 0px 0px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.votation-title {
    font-weight: 700;
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
}
.votation-information {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: rgb(166, 166, 166);
}
.votation-information i{
    margin-right: 3px;
}