<div class="header-false"></div>
<div [ngClass]="sidebarClasses" #sidebar>
  <div class="logo-details">
    <i class="bi bi-wrench icon"></i>
    <div class="logo_name">Hoop Central</div>
    <i #toggleBtn  [ngClass]="toogleClasses" id="btn" (click)="clickOnToogleBtn()"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a [routerLink]="['/']">
        <!-- <i class="bi bi-house-door"></i> -->
        <i class="bi bi-house-door-fill"></i>
        <span class="links_name">Inicio</span>
      </a>
      <!-- <div class="tooltip-wrapper">
        <span class="tooltip" #tooltip>Inicio</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/news']" routerLinkActive="active">
        <i class="bi bi-newspaper"></i>
        <span class="links_name">Noticias</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Noticias</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/tournaments']" routerLinkActive="active">
        <i class="bi bi-trophy"></i>
        <span class="links_name">Torneos</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Torneos</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/teams']" routerLinkActive="active">
        <i class="bi bi-people"></i>
        <span class="links_name">Equipos</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Equipos</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/courts']" routerLinkActive="active">
        <i class="bx bi bi-sun"></i>
        <span class="links_name">Canchas</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Canchas</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/players']" routerLinkActive="active">
        <i class="bx bi-person-lines-fill"></i>
        <span class="links_name">Jugadores</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Jugadores</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/referees']" routerLinkActive="active">
        <i class="bx bi-stoplights"></i>
        <span class="links_name">Árbitros</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Árbitros</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/coaches']" routerLinkActive="active">
        <i class="bx bi-person-badge"></i>
        <span class="links_name">Entrenadores</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Entrenadores</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/administration']" routerLinkActive="active">
        <i class="bi bi-plus-square-fill"></i>
        <span class="links_name">Administracion</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Administracion</span>
      </div> -->
    </li>
    <li>
      <a [routerLink]="['/']" routerLinkActive="active">
        <i class="bi bi-gear-fill"></i>
        <span class="links_name">Configuración</span>
      </a>
      <!-- <div class="tooltip-wrapper">
      <span class="tooltip">Configuración</span>
      </div> -->
    </li>
  </ul>
  <li class="profile">
    <div class="profile-details">
      <!-- <atom-image-container class="profile-image">
        <img src="./assets/icons/user-default.png" alt="profileImg">
      </atom-image-container> -->
      <div class="profile-info">
        <div class="name">Diego Maradona</div>
        <div class="rol">Crack</div>
      </div>
    </div>
    <a class="logout" id="log_out">
      <!-- <atom-image-container>
        <img src="./assets/icons/logout.png" alt="profileImg">
      </atom-image-container> -->
    </a>
    <span class="tooltip">Cerrar sesión</span>
    <!-- <i class="bx bx-log-out"></i> -->
  </li>
</div>
