<!-- <div class="navbar-expand-md">
  <div class="collapse navbar-collapse" [ngClass]="{'show': data.isMenuCollapsed}" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Inicio</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['client', 'frontDesk', 'admin']">
            <a class="nav-link" href="#" [routerLink]="['/appointments']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Agenda</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin', 'frontDesk']">
            <a class="nav-link" href="#" [routerLink]="['/payments']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Pagos
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin', 'frontDesk']">
            <a class="nav-link" href="#" [routerLink]="['/checkin']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Check-In
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin', 'frontDesk']">
            <a class="nav-link" href="#" [routerLink]="['/memberships']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Membresías
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin', 'frontDesk']">
            <a class="nav-link" href="#" [routerLink]="['/users']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Usuarios
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin', 'frontDesk']">
            <a class="nav-link" href="#" [routerLink]="['/machines']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Aparatos
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin', 'frontDesk']">
            <a class="nav-link" href="#" [routerLink]="['/specialties']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Especialidades</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin']">
            <a class="nav-link" href="#" [routerLink]="['/notifications']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Notificaciones</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['client']">
            <a class="nav-link" href="#" [routerLink]="['/client-promotions']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Notificaciones</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *roleCanAccess="['admin']">
            <a class="nav-link" href="#" [routerLink]="['/settings']" routerLinkActive="active"
              (click)="data.isMenuCollapsed = false">Configuración</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div> -->