<div class="settings-card">
    <input [type]="type" name="{{name}}" [value]="settingsValue" (change)="onSelect()"/>
    <div class="setting-card-container">
        <div class="setting-card-content">
            <div class="hr-text hr-text-left">
                <div class="setting-title">
                    Public
                </div>
            </div>
            <div class="setting-description display-cutted" #settingDescription>
                Everyone with an account can votate and watch the statistics and people’s votes
            </div>
        </div>
        <img class="setting-card-image" src="/assets/icons/picture.png" alt="Setting picture.">
    </div>
</div>