.main-container{
    width: 100%;
    height: fit-content;
    min-height: 100%;
    padding-bottom: 3rem;
    /* background-image: url("src/assets/temporals/background-1.png"); */
    background-position: top;
    background-size: cover;
    background-color: var(--color-gray-1);
}
